/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --google-blue: #1a73e8;
  --google-gray: #70757a;
  --google-border: #dadce0;
}

body {
  color: rgb(17 24 39); /* text-gray-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
}
